.landingbgimg{
  /* The image used */
  background-image: url("https://wallpapercave.com/wp/wp7351948.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-black{
    background-color: black !important;
}