.landingbgimg{
    background-image: url('https://images.unsplash.com/photo-1456406644174-8ddd4cd52a06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1736&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
